@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
}

<main>
    <h1>@Model.Name</h1>
    <ul>
        <li>Membership Type: @Model.MembershipType.Name</li>
        @if (Model.BirthDate.HasValue)
        {
            <li>Birthdate: @Model.BirthDate.Value.ToString("d")</li>
        }
    </ul>
</main>