@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <h1>Movies</h1>

    @if (Model.Count() == 0)
    {
        <p>We don't have any movies yet</p>
    }
    else
    {
        <table class="table table­‐bordered table­‐hover">
            <thead>
                <tr>
                    <th>Movie</th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(movie.Name, "Details", "Movies", new { movie.Id }, null)</td>
                        <td>@movie.Genre.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</main>
